AlignOperands: DontAlign
AllowShortFunctionsOnASingleLine: Empty
BreakBeforeBraces: Allman
ColumnLimit: 120
EmptyLineBeforeAccessModifier: Never
FixNamespaceComments: false
IndentWidth: 2 
NamespaceIndentation: All